.stButton > button{
    
    width: 100%;
    background-color: white;
    }

.stButton > button:hover{
    background-color: white;
    border-color: blue;
    color: blue;
}


.stButton > button:active{
    background-color: blue;
    border-color: blue;
    color: white;
}

.css-eczf16 {
    display: none;
   
    
}



